<nav class=" sticky-top navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">MyMovies</a>
    <img src="https://ya-webdesign.com/images/popcorn-time-icon-png-1.png" alt="">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="onAddMovie()" class="nav-link" href="#">Add Movie</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
