<div class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h3>Delete Movie ?</h3>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="onDelete()" data-dismiss="modal">Delete</button>
        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
