/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
}


.popup-Wrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.205);
}

.box-holder {}

.box-wrapper {
    width: 45%;
    min-width: 330px;
    max-width: 500px;
    height: 600px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;

    .exit {
        position: absolute;
        right: 0;
        margin: 5px;
    }

    .details-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 20px;

        .top {
            text-align: center;
            padding: 10px;
            background-color: #607d8b1f;
            border-radius: 14px;

            .title-wrapper {
                h3 {
                    text-align: center;
                }
            }

            .img-wrapper {
                img {
                    width: 150px;
                    border-radius: 15px;
                    // height: 300px;
                }
            }

            .btn-wrapper {
                margin-top: 10px;

                button:last-child {
                    margin-left: 20px;
                }
            }
        }

        .bottom {
            margin: 20px 0;

            .main-content {
                padding: 10px;
                background-color: #607d8b1f;
                border-radius: 14px;
                overflow-y: scroll;
            }
        }
    }
}


.small-txt {
    font-size: 18px;
}


@media only screen and (min-width: 600px) {
    .btn-wrapper {
        text-align: right;
    }
}

@media only screen and (max-width: 600px) {
    .btn-wrapper {
        text-align: center;
    }
}



::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    border-radius: 10px;

    width: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6c757d;
}
